* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    margin-top: -15%;
    font-weight: bolder;
    color: #4deeea;
    font-size: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;   
    width: 90%; 
    max-width: 500px; 
}

form {
    display: flex;
    width: 100%;
    position: relative;
}

#taskInput {
    width: 100%; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
}

#addTaskButton {
    background-color: #4deeea;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
    }
    .title{
        margin-top: -50%;
    }
    #taskInput {
        width: 100%;
        padding-right: 90px; 
    }

    #addTaskButton {
        width: 80px;
        padding: 10px 0; 
    }
}

input:focus {
    outline: none;
}
